body{
    font-family: 'Open Sans';
}
nav{
    width: 85%;
    margin: auto;
}
nav .navbar-nav li a{
    color: #474747 !important;
    opacity: 0.95;
    line-height: 22px;
}
nav .navbar-nav a:hover{
    background-color: #00AEFF;
    border-radius:4px;
    color:#ffffff !important;
}

.section-one{
    background-color: #D1F0F6;
}
.section-one .btn{
    background-color: #00AEFF;
    border-radius: 4px;
    line-height:0.2rem;
    padding:1rem;
}
.section-one .btn:hover{
    background-color:#fff ;
    color: #00AEFF !important;
    border-radius: 4px;
    line-height:0.2rem;
    font-size: 1.2rem;
}

.container{
    width:80%;
    margin:auto;
}
.container h4{
    font-size:40px;
    color:#084482;
}
.container p{
    color:#474747;
    font-size:18px;
}
.container a{
    border-radius:8px;
    color:#fff;
    background-color: #00AEFF;
    line-height: 25px;
}
.row .col p{
    color:#333333;
}
section h2{
    color:#275B92;
    font-weight:600px;
    font-size:48px;

}
section .create{
    color:#333333;
}
.story{
    display: flex;
}
.story h3{
    color: #084482;
    font-size:40px;
    font-weight: 600;
}
.flex{
    display: flex;
    
}
section .set{
    flex: 1 1 0px;
}
/*.flex img{
    max-width: 100%;
    max-height:100%;
}*/
section button{
    background-color: #333333;
    border:none;
    border-radius: 4px;
}
.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:minmax(0, 1fr) minmax(0, 1fr);
    row-gap: 70px;
    
}
.box h5{
    color:#084482;
    font-size:25px;
    font-weight: 600;
}
.box p{
    color: #333333;
    font-size: 18px;
}

.wait{
    min-height: 0;
    min-width:0;
}

.show{
    font-size:12px;
}

.start{
    color: #275B92;
    font-size:30px;
    font-weight: 600;
    margin-top:100px !important;
}
hr{
    margin-top:50px;
}


footer{
    background-color: #ffffff;
}
.footer{
    width: 80%;
    margin: auto;
    font-size:18px;
}
.flex-container{
    display: flex;
    justify-content: space-between;
    
}
.flex-container h5{
    font-size:1.5rem;
    color:#275B92;
}
.flex-container a{
  color:#333333;
  line-height: 2.5rem;
  font-size:16px;
}
.flex-container p{
    color:#333333;
}
footer i{
    background-color: #ffffff;
    box-shadow: 0px 4px 4px rgba(50, 50, 93, 0.11), 0px 1px 3px rgba(0, 0, 0, 0.08);
    color:#00AEFF;
}
footer .end{
    color:#8898AA;
}
b{
    color:#00AEFF;
}

@media(max-width:926px){

    nav{
        width: 90%;
        margin: auto;
        }
    
    nav .adjust img, footer img{
            width: 150px;
    } 
    
    .my-auto h4{
        margin-top:20px;
    }
    .my-auto img{
        margin-top:20px;
        max-width:100% ;
    }

    section h2{
        font-size:40px;
    }
    .story{
        display: block;
    }
    .story h3{
        font-size:30px;
    }
    .story button{
        margin-top:20px;
        margin-bottom: 20px;
    }
    .story img{
        max-width: 100%;
    }
    .box{
        display: block;
    }
    .box img{
        max-width: 100%;
    }
    .wait{
        margin-bottom: 80px;
    }
    .start{
        font-size:25px;
    }



    footer .flex-container{
        display: block;
        width:100%;
    }

    .f-two, .f-three, .f-four{
        margin-top: 30px;
    }

}